
bookmarks
history
fontaine-latest-state.eld
places
recentf

auto-save-list/
eln-cache/
emojis/
.cache/
elpa/
quelpa/
tree-sitter/
transient/
var/


config.el*
init.elc
*.el~

/projects
/session.*
/.DS_Store
*.eld
